

body{
    display: flex;
    margin: 0px;
    padding: 0px;
    flex-direction: column;
    background: #e5e3d9;

     min-height: 100vh;
     justify-content: center;
     align-items: center;

}

.choice-container{
    display: flex;
    flex-direction: column;
}

.btn-container{
    display: flex;
    justify-content: center;
    gap: 5px;
    padding: 5px;
  
}

button{
    border-radius: 5px;
}

.line{
    width: 100%;
    height: 2px;
   
    background: black;
}

.img-container{
    gap: 100px;
    display: flex;
    flex-direction: row;
  
    align-items: center; 
    margin: 50px;

  
}

.humanIMG,.computerIMG{
    display: flex;
    flex-direction: column;
    border: 5px solid black;
    justify-content: center;
    align-items: center;

}

img{
    width: 400px;
    height: 400px;
}



